{% if pagination.pages > 0 %}

    <nav role="navigation" class="flex justyf-center my-8">

        <!-- previous button -->
        <a href="{{ pagination.previous.url }}">{{ pagination.previous.title }}</a>
        
        <!-- next button -->
        <a href="{{ pagination.next.url }}">{{ pagination.next.title }}</a>

    </nav>

{% endif %}