{% paginate blog.articles by 3 %}
    {% for article in blog.articles %}

        <div class="blog-card">

            <!-- image -->
            {% if article.image %}
                <img src="{{ article.image.src | image_url: 'medium' }}" alt="{{ article.image.alt }}" width="" height="" />
            {% else %}
                {% assign placeholder_image = 'lifestyle-2' %}

                {{ placeholder_image | placeholder_svg_tag: 'w-full h-80 md:h-96 object-cover object-center p-5' }}
            {% endif %}

        </div> 

    {% endfor %}
{% endpaginate %}